{% extends "base.html" %}


{% block content %}
{% if not session.logged_in %}
     <p data-scroll-reveal="enter from the bottom after 0.03s">You are not logged in. Please log in to see your personality traits.</p>



{% else %}
     <p data-scroll-reveal="enter from the bottom after 0.03s">Hello ... {{ session.get('user') }}<br> <img src="{{ session.get('url') }}" class="img-circle" alt="Cinque Terre" width="100" height="100"> <br>Check the score for your Big Five personality traits.</p>
     <br>
     <button onclick="myFunction()" data-scroll-reveal="enter from the bottom after 0.03s" class="btn btn-primary" >Check your Traits score</button><br><br>
      <div  id="demo" style="display:none;">
        <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>

      <div id="result" style="display:none;" class="animate-bottom">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" >
                <div class="well well-sm" style="padding-top:15px;">
                    <div class="row">
                        <div class="col-xs-12 col-md-12" >


                                <div class ="row rating-desc" style="padding:5px;">
                                  <div class="col-xs-2 col-md-2 text-left trait-size-big">Openness:</div>
                                  <div class="col-xs-10 col-md-10">
                                      <div class="progress">
                                          <div id="opn" class="progress-bar" role="progressbar" aria-valuenow="20"
                                              aria-valuemin="0" aria-valuemax="100" style="width: {{ session.get('opn')}}%"> &nbsp;{{ session.get('opn_score')}} </div>
                                      </div>

                                      <div class="row">
                                        <div  class="col-md-6 " style="border-right: 1px solid #a0a0a0;">
                                          <p id="opn-left" class="trait-size"> Commonplace, Simple, Shallow, Unintelligent </p>
                                        </div>
                                        <div  class="col-md-6 ">
                                          <p id="opn-right" class="trait-size"> Wide interests, Imaginative, Intelligent, Curious </p>
                                        </div>
                                      </div>

                                  </div>
                                </div>
                                <div class ="row rating-desc" style="padding:5px;">
                                  <div class="col-xs-2 col-md-2 text-left trait-size-big">Conscientiousness:</div>
                                  <div class="col-xs-10 col-md-10">
                                      <div class="progress">
                                          <div id="con" class="progress-bar" role="progressbar" aria-valuenow="20"
                                              aria-valuemin="0" aria-valuemax="100" style="width: {{ session.get('con')}}%"> &nbsp;{{ session.get('con_score')}} </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-6 " style="border-right: 1px solid #a0a0a0;">
                                          <p id="con-left" class="trait-size"> Careless, Disorderly, Frivolous, Irresponsible </p>

                                        </div>
                                        <div class="col-md-6 ">
                                          <p id="con-right" class="trait-size"> Organized, Tend to Plan, Efficient, Resposible </p>

                                        </div>

                                      </div>

                                  </div>
                                </div>
                                <div class ="row rating-desc" style="padding:5px;">
                                  <div class="col-xs-2 col-md-2 text-left trait-size-big">Extroversion:</div>
                                  <div class="col-xs-10 col-md-10">
                                      <div class="progress">
                                          <div id="ext" class="progress-bar" role="progressbar" aria-valuenow="20"
                                              aria-valuemin="0" aria-valuemax="100" style="width: {{ session.get('ext')}}%"> &nbsp;{{ session.get('ext_score')}} </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-6 " style="border-right: 1px solid #a0a0a0;">
                                          <p id="ext-left" class="trait-size"> Quiet, Reserved, Shy, Silent </p>

                                        </div>
                                        <div class="col-md-6 ">
                                          <p id="ext-right" class="trait-size"> Talkative, Active, Energetic, Enthusiastic </p>

                                        </div>

                                      </div>

                                  </div>
                                </div>
                                <div class ="row rating-desc" style="padding:5px;">
                                  <div class="col-xs-2 col-md-2 text-left trait-size-big">Agreeableness:</div>
                                  <div class="col-xs-10 col-md-10">
                                      <div class="progress">
                                          <div id="agr" class="progress-bar" role="progressbar" aria-valuenow="20"
                                              aria-valuemin="0" aria-valuemax="100" style="width: {{ session.get('agr')}}%"> &nbsp;{{ session.get('agr_score')}} </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-6 " style="border-right: 1px solid #a0a0a0;">
                                          <p id="agr-left" class="trait-size"> Fault-finding, Cold, Unfriendly, Cruel </p>

                                        </div>
                                        <div class="col-md-6 ">
                                          <p id="agr-right" class="trait-size"> Sympathetic, Kind, Appreciative, Generous </p>

                                        </div>

                                      </div>

                                  </div>
                                </div>
                                <div class ="row rating-desc" style="padding:5px;">
                                  <div class="col-xs-2 col-md-2 text-left trait-size-big">Neuroticism:</div>
                                  <div class="col-xs-10 col-md-10">
                                      <div class="progress">
                                          <div id="neu" class="progress-bar" role="progressbar" aria-valuenow="20"
                                              aria-valuemin="0" aria-valuemax="100" style="width: {{ session.get('neu')}}%"> &nbsp;{{ session.get('neu_score')}} </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6" style="border-right: 1px solid #a0a0a0;">
                                          <p id="neu-left" class="trait-size"> Stable, Calm, Contended, Unemotional </p>
                                        </div>
                                        <div class="col-md-6 ">
                                          <p id="neu-right" class="trait-size"> Tense, Anxious, Nervous, Worried </p>
                                        </div>

                                      </div>

                                  </div>
                                </div>

                            <!-- end row -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <h4 class='text-danger'>**Note: Please submit your result in this google form <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1Npv0_pzBgZOSLVBN8K2AU7alvHKKUWpgyfNyLhtVOtldRw/viewform" target="_blank"> Click here</a></h4>
        <br>
        <p>These are the {{ session.get('wordCount') }} unique words that you have used on your facebook status
        and the given word cloud shows them.</p>
        <!-- making the word cloud here -->
        <div class="wcloud">

        </div>



      </div>

{% endif %}
{% endblock %}
