{% extends "base.html" %}


{% block content %}
{% if not session.logged_in %}
     <p data-scroll-reveal="enter from the bottom after 0.03s">You are not logged in.</p>
{% else %}
     <p data-scroll-reveal="enter from the bottom after 0.03s">Hello ... {{session.pop('user')}}<br> Here are the score for your Big Five personality traits.</p>
     <br>
     <p>Facebook token = {{ session.pop('oauth_token') }}</p>
     <p>Openness = {{ session.pop('opn')}}</p>

     <p>Concientiousness = {{ session.pop('con')}}</p>

     <p>Extroversion = {{ session.pop('ext')}}</p>

     <p>Agreeableness = {{ session.pop('agr')}}</p>

     <p>Neuroticsm = {{ session.pop('neu')}}</p>

     <!--{% for item in session.pop('fbpost', []) %}
    	{{ item }}
    	<br>
	 {% endfor %}
	-->

{% endif %}
{% endblock %}
